#header {
    background-color: black;
}

.img-fluid {
    width: 200px;
    height: 200px;
}

#btn1 {
    margin-bottom: 10px;
    margin-right: 20px;
    color: cadetblue;
}

.like {
    margin-left: 50px;
    color: white;
    font-size: x-large;
    background-color: #32A23D;
    border: none;
    border-radius: 100%;
    padding: 13px;
}

.plus1,
.plus2,
.plus3,
.plus4,
.plus5,
.plus6 {
    color: #32A23D;
    border: none;
}